@using Twest2.Helpers

@model PlayoffMatch

<table class="table table-striped bg-dark" style="width:60%; margin: 0 20px 0 0; border: 0 0 0 0">
    <thead>
        <tr>
            <th>
                Match Nr.
            </th>
            <th>
                Player 1
            </th>
            <th>
                Player 2
            </th>
            <th>
                Result
            </th>
            <th style="width:20%">

            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Match @Model.matchNumber
            </td>
            <td>
                @if (@Model.player1Data.Value == null)
                {
                    @ViewData["GroupName"].ToString().Substring(0, 2);
                }
                else
                {
                    @Model.player1Data.Value
                }
            </td>
            <td>
                @if (@Model.player2Data.Value == null)
                {
                    @ViewData["GroupName"].ToString().Substring(2, 2);
                }
                else
                {
                    @Model.player2Data.Value
                }

            </td>
            <td>
                @*@groupPlayer.Player1Result : @groupPlayer.Player2Result*@
                0:0
            </td>
            <td>
                <a class="btn btn-primary" asp-controller="Group" asp-action="Edit" asp-route-id="">
                    Edit Result
                </a>
            </td>
        </tr>

    </tbody>
</table>

