@using Twest2.Models

@model TournamentViewModel

@{
    ViewData["Title"] = "NewTournament";
}
<body>
    <div class="container">
        <span style="color:red">
            TODO:
            <br />
            - make _table.cshtml and use it for static count(8) tables, and different for group plays
        </span>
        <div class="row pt-2">
            <div class="col-6">
                <h2 class="text-primary">
                    Groups
                </h2>
            </div>
            <div class="col-6 text-end">
                <a class="btn btn-primary" asp-controller="NewTournament" asp-action="Create">
                    <i class="bi bi-plus-circle"></i> &nbsp; Create Tournament
                </a>
            </div>

            @section Scripts {
                <partial name="_ValidationScriptsPartial" />
            }

            <table class="table table-striped bg-dark" style="width:20%;margin: 0 50px 0 0;">
                <thead>
                    <tr>
                        <th>
                            Nr
                        </th>
                        <th>
                            Group A
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model.groupsABC[0].Count != 0)
                    {
                        int counter = 1;

                        @foreach (var member in Model.groupsABC[0])
                        {
                            <tr>
                                <td width="1%">
                                    @counter
                                </td>
                                <td width="20%">
                                    @member
                                </td>
                            </tr>
                            counter++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td>
                            </td>
                            <td>
                                No enrollments
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <table class="table table-striped bg-dark" style="width: 20%; margin: 0 50px 0 0;">
                <thead>
                    <tr>
                        <th>
                            Nr
                        </th>
                        <th>
                            Group B
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.groupsABC[1].Count != 0)
                    {
                        int counter = 1;

                        @foreach (var member in Model.groupsABC[1])
                        {
                            <tr>
                                <td width="3%">
                                    @counter
                                </td>
                                <td width="20%">
                                    @member
                                </td>
                            </tr>
                            counter++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td>
                            </td>
                            <td>
                                No enrollments
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <table class="table table-striped bg-dark" style="width: 20%; margin: 0 50px 0 0;">
                <thead>
                    <tr>
                        <th>
                            Nr
                        </th>
                        <th>
                            Group C
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.groupsABC[2].Count != 0)
                    {
                        int counter = 1;

                        @foreach (var member in Model.groupsABC[2])
                        {
                            <tr>
                                <td width="3%">
                                    @counter
                                </td>
                                <td width="20%">
                                    @member
                                </td>
                            </tr>
                            counter++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td>
                            </td>
                            <td>
                                No enrollments
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

            <br />
        </div>
        <br />
        <br />
        <br />
        <div class="col-6">
            <h2 class="text-primary">
                Group plays
            </h2>
        </div>
        <br />
        @if (Model.groupAPlays.Count != 0)
        {
            <h4 class="text-primary">
                Group A
            </h4>
            <table class="table table-striped bg-dark" style="width: 50%; margin: 0 50px 0 0;">
                <thead>
                    <tr>
                        <th>
                            Nr
                        </th>
                        <th>
                            Player 1
                        </th>
                        <th>
                            Player 2
                        </th>
                        <th>
                            Result
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{int counter = 1;}
                    @foreach (var player in Model.groupAPlays)
                    {
                        <tr>
                            <td>
                                @counter
                            </td>
                            <td>
                                @player[0]
                            </td>
                            <td>
                                @player[1]
                            </td>
                            <td>
                                0:0
                            </td>
                            <td>
                                <a class="btn btn-primary" asp-controller="" asp-action="">
                                    <i class="bi bi-plus-circle"></i> &nbsp; Edit Result
                                </a>
                            </td>
                        </tr>
                        counter++;

                    }
                </tbody>
            </table>
        }
        <br />
        @if (Model.groupBPlays.Count != 0)
        {
            <h4 class="text-primary">
                Group B
            </h4>
            <table class="table table-striped bg-dark" style="width: 50%; margin: 0 50px 0 0;">
                <thead>
                    <tr>
                        <th>
                            Nr
                        </th>
                        <th>
                            Player 1
                        </th>
                        <th>
                            Player 2
                        </th>
                        <th>
                            Result
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{int counter = 1;}
                    @foreach (var player in Model.groupBPlays)
                    {
                        <tr>
                            <td>
                                @counter
                            </td>
                            <td>
                                @player[0]
                            </td>
                            <td>
                                @player[1]
                            </td>
                            <td>
                                0:0
                            </td>
                            <td>
                                <a class="btn btn-primary" asp-controller="" asp-action="">
                                    <i class="bi bi-plus-circle"></i> &nbsp; Edit Result
                                </a>
                            </td>
                        </tr>
                        counter++;
                    }
                </tbody>
            </table>
        }
        <br />
        @if (Model.groupCPlays.Count != 0)
        {
            <h4 class="text-primary">
                Group C
            </h4>
            <table class="table table-striped bg-dark" style="width: 50%; margin: 0 50px 0 0;">
                <thead>
                    <tr>
                        <th>
                            Nr
                        </th>
                        <th>
                            Player 1
                        </th>
                        <th>
                            Player 2
                        </th>
                        <th>
                            Result
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{ int counter = 1;}
                    @foreach (var player in Model.groupCPlays)
                    {
                        <tr>
                            <td>
                                @counter
                            </td>
                            <td>
                                @player[0]
                            </td>
                            <td>
                                @player[1]
                            </td>
                            <td>
                                0:0
                            </td>
                            <td>
                                <a class="btn btn-primary" asp-controller="" asp-action="">
                                    <i class="bi bi-plus-circle"></i> &nbsp; Edit Result
                                </a>
                            </td>
                        </tr>
                        counter++;
                    }
                </tbody>
            </table>
        }
    </div>

</body>


