@model IEnumerable<Player>
@{
    ViewData["Title"] = "Player";
}


<div class="container p-3">
    <div class="row pt-2">
        <div class="col-6">
            <h2 class="text-primary">
                Players list
            </h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-controller="Player" asp-action="Create">
                 Add Tournament Player
            </a>
        </div>
    </div>
    <br />
    <span style="color:red">
        TODO:
        <br />
        - remove filtering (x button or smth),
        <br />
        - when tournament started, cannot make enrollment - yes.
        <br />
        - think which field can be created/edited by user, which only by admin
    </span>
    <br />
    <br />
    @using (Html.BeginForm())
    {
        <p>
            Find by name: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
    <table class="table table-striped bg-dark" style="width:100%">
        <thead>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    @Html.ActionLink("Enrolled To Tournament", "Index", new { sortOrder = ViewBag.EnrollmentSortParm })
                </th>
                <th>
                    @Html.ActionLink("Rating", "Index", new { sortOrder = ViewBag.RatingSortParm })
                </th>
                <th>
                    @Html.ActionLink("Group", "Index", new { sortOrder = ViewBag.GroupSortParm })
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @obj.FirstName
                    </td>
                    <td>
                        @obj.LastName
                    </td>
                    <td>
                        @obj.EnrolledToTournament
                    </td>
                    <td>
                        @obj.Rating
                    </td>
                    <td>
                        @obj.GroupName
                    </td>
                    <td width="20%">
                        <div class="w-75 btn-group" role="group">
                            <a class="btn btn-primary mx-2" asp-controller="Player" asp-action="Edit" asp-route-id="@obj.Id">Change Enrollment</a>
                            <a class="btn btn-danger mx-2" asp-controller="Player" asp-action="Delete" asp-route-id="@obj.Id">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

